# PYTHON
__pycache__/
*.py[cod]
*$py.class

# DJANGO
db.sqlite3
media/
staticfiles/

# ENVIRONMENT FILES
.env
.env.*
venv/
env/
ENV/

# MIGRATIONS
# Ignore all migration files except __init__.py
**/migrations/*
!**/migrations/__init__.py

# VS CODE
.vscode/

# PYCHARM
.idea/

# OS FILES
.DS_Store
Thumbs.db

# LOG FILES
*.log

# CACHE
.cache/